.title{
    padding: 8px 10px;
    border-bottom: solid thin beige;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px ;
    line-height: 5vh;
    cursor: pointer;

    position: relative;
}

.title:hover i{
    font-size: 1.1rem;
}

.title h3{
    display: inline-block;
   width: 90%;
   text-align: left;
}

.title i{
    float: right;
    margin-top: 10px;

}